<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cb.mapper.bizAlarm.BizAlarmMapper">

    <sql id="bizAlarmColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.alarm_no AS "alarmNo",
		a.cover_id AS "coverId",
		a.cover_no AS "coverNo",
		a.cover_bell_id AS "coverBellId",
		a.address AS "address",
		a.alarm_type AS "alarmType",
		a.alarm_time AS "alarmTime",
		a.deal_status AS "dealStatus",
		a.cover_work_id AS "coverWorkId",
		a.project_id AS "projectId",
		a.project_name AS "projectName"
	</sql>

    <sql id="bizAlarmJoins">

    </sql>


    <select id="get" resultType="BizAlarm">
        SELECT
        <include refid="bizAlarmColumns"/>
        FROM biz_alarm a
        <include refid="bizAlarmJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="BizAlarm">
        SELECT
        <include refid="bizAlarmColumns"/>
        FROM biz_alarm a
        <include refid="bizAlarmJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
            <if test="alarmNo != null and alarmNo != ''">
                AND a.alarm_no = #{alarmNo}
            </if>
            <if test="coverNo != null and coverNo != ''">
                AND a.cover_no = #{coverNo}
            </if>
            <if test="address != null and address != ''">
                AND a.address like concat('%',#{address}, '%')
            </if>
            <if test="alarmType != null and alarmType != ''">
                AND a.alarm_type = #{alarmType}
            </if>
            <if test="alarmTime != null and alarmTime != ''">
                AND a.alarm_time = #{alarmTime}
            </if>
            <if test="dealStatus!=null and dealStatus!=''">
				AND a.deal_status = #{dealStatus}
			</if>
			<if test="beginDate!=null">
				AND a.create_date &gt;= #{beginDate}
			</if>
			<if test="endDate!=null">
				AND a.create_date &lt;=#{endDate}
			</if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <select id="findAllList" resultType="BizAlarm">
        SELECT
        <include refid="bizAlarmColumns"/>
        FROM biz_alarm a
        <include refid="bizAlarmJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            ${dataScope}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>

    <insert id="insert">
		INSERT INTO biz_alarm(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			alarm_no,
			cover_id,
			cover_no,
			cover_bell_id,
			address,
			alarm_type,
			alarm_time,
			deal_status,
			cover_work_id,
			project_id,
			project_name
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{alarmNo},
			#{coverId},
			#{coverNo},
			#{coverBellId},
			#{address},
			#{alarmType},
			#{alarmTime},
			#{dealStatus},
			#{coverWorkId},
			#{projectId},
			#{projectName}
		)
	</insert>

    <update id="update">
		UPDATE biz_alarm SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			alarm_no = #{alarmNo},
			cover_id = #{coverId},
			cover_no = #{coverNo},
			cover_bell_id = #{coverBellId},
			address = #{address},
			alarm_type = #{alarmType},
			alarm_time = #{alarmTime},
			deal_status = #{dealStatus},
			cover_work_id=#{coverWorkId},
			project_id = #{projectId},
			project_name = #{projectName}
		WHERE id = #{id}
	</update>


    <!--物理删除-->
    <update id="delete">
		DELETE FROM biz_alarm
		WHERE id = #{id}
	</update>

    <!--逻辑删除-->
    <update id="deleteByLogic">
		UPDATE biz_alarm SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


    <!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
    <select id="findUniqueByProperty" resultType="BizAlarm" statementType="STATEMENT">
		select a.* FROM biz_alarm a where ${propertyName} = '${value}'
	</select>

	<select id="countTotal" resultType="integer">
		select count(1) from biz_alarm a where a.del_flag = 0
	</select>

	<select id="countSql" resultType="com.jeeplus.modules.cv.vo.CountVo">
		SELECT
			a.alarm_type,
			case a.alarm_type
			when 'waterLevel' then '水位报警'
			when 'votage' then '电压报警'
			when 'temperature' then '温度报警'
			when 'open' then '井盖开合'
			when 'vibrate' then '井盖震动'
			when 'broken' then '井盖破损'
			when 'offline' then '离线报警'
			when 'pullOff' then '脱落报警'
			else '未知'
			end as "name",
			count(1) as "value" from biz_alarm a WHERE a.del_flag = 0 GROUP BY a.alarm_type
	</select>

    <select id="statisByParam" parameterType="com.jeeplus.modules.cv.entity.statis.BizAlarmParam" resultType="com.jeeplus.modules.cv.entity.statis.BizAlarmStatisBo">
		SELECT
			a.alarm_type AS 'alarmType',
			c.life_cycle AS 'lifeCycle',
			COUNT(1) AS 'count'
			FROM biz_alarm a
			LEFT JOIN cover b ON a.cover_id = b.id
			LEFT JOIN cover_work c ON a.cover_work_id = c.id
			WHERE c.work_type = 'biz_alarm'
				  AND c.life_cycle in ('init','processing','complete')
			<if test="alarmType!=null and alarmType!=''">
				AND a.alarm_type=#{alarmType}
			</if>
			<if test="township!=null and township!=''">
				AND b.township=#{township}
			</if>
			<if test="beginDate!=null">
				AND a.create_date &gt;= #{beginDate}
			</if>
			<if test="endDate!=null">
				AND a.create_date &lt;=#{endDate}
			</if>
			GROUP BY c.life_cycle
    </select>
	<update id="dealAlarms" parameterType="BizAlarm" >
		UPDATE biz_alarm SET
			deal_status = #{dealStatus}
		WHERE cover_id = #{coverId}
	</update>

</mapper>