<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.projectInfo.mapper.ProjectInfoMapper">
    
	<sql id="projectInfoColumns">
		a.id AS "id",
		a.project_no AS "projectNo",
		a.project_name AS "projectName",
		a.office_id AS "office.id",
		a.status AS "status",
		a.remarks AS "remarks",
		a.longitude AS "longitude",
		a.latitude AS "latitude",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.login_name AS "loginName",
		a.customer_type AS "customerType",
		a.version AS "version",
		a.project_all_name AS "projectAllName",
		a.customer AS "customer",
		a.customer_phone AS "customerPhone",
		a.business AS "business",
		a.business_phone AS "businessPhone",
		a.contract_no AS "contractNo",
		office.name AS "office.name"
	</sql>
	
	<sql id="projectInfoJoins">
		LEFT JOIN sys_office office ON office.id = a.office_id
	</sql>
	
    
	<select id="get" resultType="ProjectInfo" >
		SELECT 
			<include refid="projectInfoColumns"/>
		FROM project_info a
		<include refid="projectInfoJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="ProjectInfo" >
		SELECT 
			<include refid="projectInfoColumns"/>
		FROM project_info a
		<include refid="projectInfoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="projectNo != null and projectNo != ''">
				AND a.project_no = #{projectNo}
			</if>
			<if test="projectName != null and projectName != ''">
				AND a.project_name = #{projectName}
			</if>
			<if test="office != null and office.id != null and office.id != ''">
				AND a.office_id = #{office.id}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="ProjectInfo" >
		SELECT 
			<include refid="projectInfoColumns"/>
		FROM project_info a
		<include refid="projectInfoJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO project_info(
			id,
			project_no,
			project_name,
			office_id,
			status,
			longitude,
			latitude,
			remarks,
			create_by,
			create_date,
			update_by,
			update_date,
			login_name,
			customer_type,
			version,
			project_all_name,
			customer,
			customer_phone,
			business,
			business_phone,
			contract_no,
			del_flag
		) VALUES (
			#{id},
			#{projectNo},
			#{projectName},
			#{office.id},
			#{status},
			#{longitude},
			#{latitude},
			#{remarks},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{loginName},
			#{customerType},
			#{version},
			#{projectAllName},
			#{customer},
			#{customerPhone},
			#{business},
			#{businessPhone},
			#{contractNo},
			#{delFlag}
		)

	</insert>
	
	<update id="update">
		UPDATE project_info SET 	
			project_no = #{projectNo},
			project_name = #{projectName},
			office_id = #{office.id},
			status = #{status},
			longitude = #{longitude},
			latitude = #{latitude},
			remarks = #{remarks},
			login_name = #{loginName},
			customer_type = #{customerType},
			version = #{version},
			project_all_name = #{projectAllName},
			customer = #{customer},
			customer_phone = #{customerPhone},
			business = #{business},
			business_phone = #{businessPhone},
			contract_no = #{contractNo},
			update_by = #{updateBy.id},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM project_info
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE project_info SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="ProjectInfo" statementType="STATEMENT">
		select a.* FROM project_info a  where ${propertyName} = '${value}'
	</select>
	
</mapper>