<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cv.mapper.equinfo.CoverHistoryMapper">
    
	<sql id="coverHistoryColumns">
		a.id AS "id",
		a.no AS "no",
		a.cover_type AS "coverType",
		a.province AS "province",
		a.city AS "city",
		a.city_code AS "cityCode",
		a.ad_code AS "adCode",
		a.district AS "district",
		a.township AS "township",
		a.street AS "street",
		a.street_number AS "streetNumber",
		a.address_detail AS "addressDetail",
		a.coordinate_type AS "coordinateType",
		a.longitude AS "longitude",
		a.latitude AS "latitude",
		a.altitude AS "altitude",
		a.wgs84_x AS "wgs84X",
		a.wgs84_y AS "wgs84Y",
		a.location_accuracy AS "locationAccuracy",
		a.altitude_accuracy AS "altitudeAccuracy",
		a.purpose AS "purpose",
		a.situation AS "situation",
		a.manufacturer AS "manufacturer",
		a.size_spec AS "sizeSpec",
		a.size_rule AS "sizeRule",
		a.size_diameter AS "sizeDiameter",
		a.size_radius AS "sizeRadius",
		a.size_length AS "sizeLength",
		a.size_width AS "sizeWidth",
		a.material AS "material",
		a.owner_depart AS "ownerDepart",
		a.supervise_depart AS "superviseDepart",
		a.marker AS "marker",
		a.is_damaged AS "isDamaged",
		a.manhole_damage_degree AS "manholeDamageDegree",
		a.damage_remark AS "damageRemark",
		a.altitude_intercept AS "altitudeIntercept",
		a.data_source AS "dataSource",
		a.cover_status AS "coverStatus",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.audit_by AS "auditBy",
		a.audit_date AS "auditDate",
		a.del_flag AS "delFlag",
		a.remarks AS "remarks",
		a.cover_id AS "coverId",
		a.cover_damage AS "coverDamage",
		a.cover_owner AS "coverOwner",
		a.source AS "source",
		a.update_date AS "updateDate",
		a.update_by AS "updateBy.id"
	</sql>
	
	<sql id="coverHistoryJoins">
		
	</sql>
	
    
	<select id="get" resultType="CoverHistory" >
		SELECT 
			<include refid="coverHistoryColumns"/>
		FROM cover_history a
		<include refid="coverHistoryJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CoverHistory" >
		SELECT 
			<include refid="coverHistoryColumns"/>
		FROM cover_history a
		<include refid="coverHistoryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="no != null and no != ''">
				AND a.no = #{no}
			</if>
			<if test="source != null and source != ''">
				AND a.source = #{source}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="CoverHistory" >
		SELECT 
			<include refid="coverHistoryColumns"/>
		FROM cover_history a
		<include refid="coverHistoryJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cover_history(
			id,
			no,
			cover_type,
			province,
			city,
			city_code,
			ad_code,
			district,
			township,
			street,
			street_number,
			address_detail,
			coordinate_type,
			longitude,
			latitude,
			altitude,
			wgs84_x,
			wgs84_y,
			location_accuracy,
			altitude_accuracy,
			purpose,
			situation,
			manufacturer,
			size_spec,
			size_rule,
			size_diameter,
			size_radius,
			size_length,
			size_width,
			material,
			owner_depart,
			supervise_depart,
			marker,
			is_damaged,
			manhole_damage_degree,
			damage_remark,
			altitude_intercept,
			data_source,
			cover_status,
			create_by,
			create_date,
			audit_by,
			audit_date,
			del_flag,
			remarks,
			cover_id,
			cover_damage,
			cover_owner,
			source,
			update_date,
			update_by
		) VALUES (
			#{id},
			#{no},
			#{coverType},
			#{province},
			#{city},
			#{cityCode},
			#{adCode},
			#{district},
			#{township},
			#{street},
			#{streetNumber},
			#{addressDetail},
			#{coordinateType},
			#{longitude},
			#{latitude},
			#{altitude},
			#{wgs84X},
			#{wgs84Y},
			#{locationAccuracy},
			#{altitudeAccuracy},
			#{purpose},
			#{situation},
			#{manufacturer},
			#{sizeSpec},
			#{sizeRule},
			#{sizeDiameter},
			#{sizeRadius},
			#{sizeLength},
			#{sizeWidth},
			#{material},
			#{ownerDepart},
			#{superviseDepart},
			#{marker},
			#{isDamaged},
			#{manholeDamageDegree},
			#{damageRemark},
			#{altitudeIntercept},
			#{dataSource},
			#{coverStatus},
			#{createBy.id},
			#{createDate},
			#{auditBy},
			#{auditDate},
			#{delFlag},
			#{remarks},
			#{coverId},
			#{coverDamage},
			#{coverOwner},
			#{source},
			#{updateDate},
			#{updateBy.id}
		)
	</insert>
	
	<update id="update">
		UPDATE cover_history SET 	
			no = #{no},
			cover_type = #{coverType},
			province = #{province},
			city = #{city},
			city_code = #{cityCode},
			ad_code = #{adCode},
			district = #{district},
			township = #{township},
			street = #{street},
			street_number = #{streetNumber},
			address_detail = #{addressDetail},
			coordinate_type = #{coordinateType},
			longitude = #{longitude},
			latitude = #{latitude},
			altitude = #{altitude},
			wgs84_x = #{wgs84X},
			wgs84_y = #{wgs84Y},
			location_accuracy = #{locationAccuracy},
			altitude_accuracy = #{altitudeAccuracy},
			purpose = #{purpose},
			situation = #{situation},
			manufacturer = #{manufacturer},
			size_spec = #{sizeSpec},
			size_rule = #{sizeRule},
			size_diameter = #{sizeDiameter},
			size_radius = #{sizeRadius},
			size_length = #{sizeLength},
			size_width = #{sizeWidth},
			material = #{material},
			owner_depart = #{ownerDepart},
			supervise_depart = #{superviseDepart},
			marker = #{marker},
			is_damaged = #{isDamaged},
			manhole_damage_degree = #{manholeDamageDegree},
			damage_remark = #{damageRemark},
			altitude_intercept = #{altitudeIntercept},
			data_source = #{dataSource},
			cover_status = #{coverStatus},
			audit_by = #{auditBy},
			audit_date = #{auditDate},
			remarks = #{remarks},
			cover_id = #{coverId},
			cover_damage = #{coverDamage},
			cover_owner = #{coverOwner},
			source = #{source},
			update_date = #{updateDate},
			update_by = #{updateBy.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cover_history
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cover_history SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CoverHistory" statementType="STATEMENT">
		select * FROM cover_history  where ${propertyName} = '${value}'
	</select>
	
</mapper>