<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.device.mapper.DeviceOwnershipMapper">
    
	<sql id="deviceOwnershipColumns">
		a.id AS "id",
		a.dev_id AS "devId",
		a.dtype AS "dtype",
		a.server_url_id AS "serverUrl.id",
		a.create_date AS "createDate",
				
				
				
		serverUrl.name AS "serverUrl.name",
		serverUrl.url as "serverUrl.url"
	</sql>
	
	<sql id="deviceOwnershipJoins">
		
		LEFT JOIN server_url serverUrl ON serverUrl.id = a.server_url_id
	</sql>
	
    
	<select id="get" resultType="DeviceOwnership" >
		SELECT 
			<include refid="deviceOwnershipColumns"/>
		FROM device_ownership a
		<include refid="deviceOwnershipJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="DeviceOwnership" >
		SELECT 
			<include refid="deviceOwnershipColumns"/>
		FROM device_ownership a
		<include refid="deviceOwnershipJoins"/>
		<where>
			
			${dataScope}
			<if test="devId != null and devId != ''">
				AND a.dev_id LIKE 
					<if test="dbName == 'oracle'">'%'||#{devId}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{devId}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{devId},'%')</if>
			</if>
			<if test="dtype != null and dtype != ''">
				AND a.dtype = #{dtype}
			</if>
			<if test="serverUrl != null and serverUrl.id != null and serverUrl.id != ''">
				AND a.server_url_id = #{serverUrl.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="DeviceOwnership" >
		SELECT 
			<include refid="deviceOwnershipColumns"/>
		FROM device_ownership a
		<include refid="deviceOwnershipJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO device_ownership(
			id,
			dev_id,
			dtype,
			server_url_id,
			create_date
		) VALUES (
			#{id},
			#{devId},
			#{dtype},
			#{serverUrl.id},
			#{createDate}
		)
	</insert>
	
	<update id="update">
		UPDATE device_ownership SET 	
			dev_id = #{devId},
			dtype = #{dtype},
			server_url_id = #{serverUrl.id}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM device_ownership
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE device_ownership SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="DeviceOwnership" statementType="STATEMENT">
		select * FROM device_ownership  where ${propertyName} = '${value}'
	</select>
	
</mapper>