/*边距*/
.common-m-t {
    margin-top: 15px;
}

/*自动换行*/
.common-wordwrap {
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
    word-wrap: break-word;
}

/*省略号*/
.common-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*图表*/
.charts-container {
    height: 100%;
    width: 100%;
    border: 1px solid #E5E5E5;
}
