ul, li {
    list-style: none;
}

.common-clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

/*边距*/
.common-m-t {
    margin-top: 15px;
}

.common-p-all-small {
    padding: 10px;
}

/*自动换行*/
.common-wordwrap {
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
    word-wrap: break-word;
}

/*省略号*/
.common-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*按钮*/
.common-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.common-btn:focus,
.common-btn:active:focus,
.common-btn.active:focus,
.common-btn.focus,
.common-btn:active.focus,
.common-btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.common-btn:hover,
.common-btn:focus,
.common-btn.focus {
    color: #333;
    text-decoration: none;
}

.common-btn:active,
.common-btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.common-btn-primary {
    color: #fff;
    background-color: #3ca2e0;
    border-color: #2698dd;
}

.common-btn-primary:hover,
.common-btn-primary:focus,
.common-btn-primary.focus,
.common-btn-primary:active,
.common-btn-primary.active {
    color: #fff;
    background-color: #2089c9;
    border-color: #1b74aa;
}

.common-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.common-btn-success:hover,
.common-btn-success:focus,
.common-btn-success.focus,
.common-btn-success:active,
.common-btn-success.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.common-btn-danger {
    color: #fff;
    background-color: #de6764;
    border-color: #da524f;
}

.common-btn-danger:hover,
.common-btn-danger:focus,
.common-btn-danger.focus,
.common-btn-danger:active,
.common-btn-danger.active {
    color: #fff;
    background-color: #d53e3a;
    border-color: #c22d29;
}

.common-btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.common-btn-warning:hover,
.common-btn-warning:focus,
.common-btn-warning.focus,
.common-btn-warning:active,
.common-btn-warning.active {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.common-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.common-btn-info:hover,
.common-btn-info:focus,
.common-btn-info.focus,
.common-btn-info:active,
.common-btn-info.active {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

/*无数据*/
.common-empty-data {
    text-align: center;
    padding: 20px 0;
}

/*图表*/
.charts-container {
    height: 100%;
    width: 100%;
    border: 1px solid #E5E5E5;
}

.images-view {
    margin: 0;
    padding: 0;
}

.images-view li {
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.images-view li a img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.table-radio span {
    margin-right: 15px;
}

.table-radio span label {
    margin-left: 3px;
}

/*详情预览*/
.details-header {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: #3ca2e0;
    color: #ffffff;
}

.details-header .division {
    padding: 0 5px;
}

.details-content {
    border: 1px solid #6db5d1;
}

.details-content .panel-primary {
    border-color: #dddddd;
}

.details-view {
}

.details-view .view-title {
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 14px;
    margin: 0;
    background-color: #73c0de;
    color: #ffffff;
    border-bottom: 1px solid #6db5d1;
}

.details-view .view-form {
    padding: 15px 10px;
}

.details-view .view-form ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.details-view .view-form ul > li {
    width: 25%;
    padding: 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.details-view .view-form ul > li label {
    display: block;
    float: left;
}

.details-view .view-form ul > li span {
    overflow: hidden;
}

.details-view .view-map {
    padding: 10px;
}

.details-view .view-map .map {
    float: left;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
}

.details-view .view-map .images-list {
    height: 262px;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-left: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
}

.details-view .view-map .images-list a {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.details-view .view-map .images-list img {
    height: 100%;
    width: 100%;
}

.details-footer {
    margin: 40px 0 30px;
    text-align: center;
}

.details-footer .common-btn:first-child {
    margin-left: 0;
}

.details-footer .common-btn {
    margin-left: 8px;
}
