<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.cb.mapper.alarm.CoverBellAlarmMapper">
    
	<sql id="coverBellAlarmColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.cover_bell_id AS "coverBellId",
		a.bell_no AS "bellNo",
		a.cover_id AS "coverId",
		a.cover_no AS "coverNo",
		a.alarm_num AS "alarmNum",
		a.alarm_type AS "alarmType",
		a.current_value AS "currentValue",
		a.alarm_date AS "alarmDate",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="coverBellAlarmJoins">
		
	</sql>
	
    
	<select id="get" resultType="CoverBellAlarm" >
		SELECT 
			<include refid="coverBellAlarmColumns"/>
		FROM cover_bell_alarm a
		<include refid="coverBellAlarmJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CoverBellAlarm" >
		SELECT 
			<include refid="coverBellAlarmColumns"/>
		FROM cover_bell_alarm a
		<include refid="coverBellAlarmJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="coverBellId != null and coverBellId != ''">
				AND a.cover_bell_id = #{coverBellId}
			</if>
			<if test="bellNo != null and bellNo != ''">
				AND a.bell_no = #{bellNo}
			</if>
			<if test="coverNo != null and coverNo != ''">
				AND a.cover_no = #{coverNo}
			</if>
			<if test="alarmNum != null and alarmNum != ''">
				AND a.alarm_num = #{alarmNum}
			</if>
			<if test="alarmType != null and alarmType != ''">
				AND a.alarm_type = #{alarmType}
			</if>
			<if test="beginAlarmDate != null and endAlarmDate != null and beginAlarmDate != '' and endAlarmDate != ''">
				AND a.alarm_date BETWEEN #{beginAlarmDate} AND #{endAlarmDate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="CoverBellAlarm" >
		SELECT 
			<include refid="coverBellAlarmColumns"/>
		FROM cover_bell_alarm a
		<include refid="coverBellAlarmJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO cover_bell_alarm(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			del_flag,
			cover_bell_id,
			bell_no,
			cover_id,
			cover_no,
			alarm_num,
			alarm_type,
			current_value,
			alarm_date,
			remarks
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{coverBellId},
			#{bellNo},
			#{coverId},
			#{coverNo},
			#{alarmNum},
			#{alarmType},
			#{currentValue},
			#{alarmDate},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE cover_bell_alarm SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			cover_bell_id = #{coverBellId},
			bell_no = #{bellNo},
			cover_id = #{coverId},
			cover_no = #{coverNo},
			alarm_num = #{alarmNum},
			alarm_type = #{alarmType},
			current_value = #{currentValue},
			alarm_date = #{alarmDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM cover_bell_alarm
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE cover_bell_alarm SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CoverBellAlarm" statementType="STATEMENT">
		select * FROM cover_bell_alarm  where ${propertyName} = '${value}'
	</select>
	
</mapper>